<h2>Bikes</h2>

<div>
    <span><input type="text" pInputText [(ngModel)]="newBike.model"/></span>
</div>
<div>
    <span><input type="text" pInputText [(ngModel)]="newBike.manufacturer"/></span>
</div>
<div>
    <span><button pButton type="button" (click)="createBike(newBike)" label="Create Bike"></button> </span>
</div>

<p-dataTable [value]="bikes">
    <p-header>Bike Management</p-header>
    <p-column field="model" header="model"></p-column>
    <p-column field="manufacturer" header="Manufacturer"></p-column>
    <p-column header = "Edit">
        <ng-template let-bike="rowData" pTemplate="body">
            <button type="button" pButton (click)="showInfo(bike)" icon="fa-edit"></button>
        </ng-template>
    </p-column>
    <p-column header = "Delete">
        <ng-template let-bike="rowData" pTemplate="body">
            <button type="button" pButton (click)="deleteBike(bike)" icon="fa-remove"></button>
        </ng-template>
    </p-column>
</p-dataTable>