<div *ngIf="bike">
  <md-card style="width: 30%">
    <md-card-header>
      <md-card-title>{{bike.model}} details!</md-card-title>
    </md-card-header>
    <md-card-content>
      <div><label>id: </label>{{bike.id}}</div>
      <div>
        <label>model: </label>
        <input [(ngModel)]="bike.model" placeholder="model" />
      </div>
      <div>
        <label>Manufacturer: </label>
        <input [(ngModel)]="bike.manufacturer" placeholder="manufacturer" />
      </div>
    </md-card-content>
    <md-card-actions>
      <button md-button (click)="goBack()"> Back </button>
      <button md-button (click)="updateBike()"> Update </button>
    </md-card-actions>
  </md-card>
  <div>